
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
test-results/
allure-results/
allure-report/
ui_tests/allure-results/
ui_tests/html-report/
.env
.idea/
/reports/